Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
python-dotenv
Werkzeug
Authlib
requests
psycopg2-binary
SQLAlchemy
click
itsdangerous
Jinja2
MarkupSafe
Supabase
opencv-python
Numpy
Pillow
clarifai
google-generativeai
gunicorn
certifi
charset-normalizer
colorama
greenlet
idna
oauthlib
six
urllib3
googleapis-common-protos
