
Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
Authlib
psycopg2-binary
SQLAlchemy
click
Jinja2
MarkupSafe
supabase
opencv-python
Numpy
Pillow
clarifai
google-generativeai
certifi
charset-normalizer
colorama
greenlet
idna
itsdangerous
oauthlib
requests
six
urllib3
--prefer-binary
googleapis-common-protos
urllib3
Werkzeug
clarifai
--prefer-binary
googleapis-common-protos
certifi
charset-normalizer
colorama
greenlet
idna
itsdangerous
oauthlib
requests
six
urllib3
--prefer-binary
googleapis-common-protos
--prefer-binary
googleapis-common-protos
certifi
charset-normalizer
colorama
greenlet
idna
itsdangerous
oauthlib
requests
six
urllib3
--prefer-binary
googleapis-common-protos
--prefer-binary
googleapis-common-protos
certifi
charset-normalizer
colorama
greenlet
idna
itsdangerous
oauthlib
requests
six
urllib3
--prefer-binary
googleapis-common-protos
--prefer-binary
googleapis-common-protos
--prefer-binary
googleapis-common-protos
