{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>User Management</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Auth Method</th>
                    <th>Has Password</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ user.auth_method }}</td>
                    <td>{{ 'Yes' if user.has_password else 'No' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} 